@use 'styles/tokens';

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-tinta);
  font-family: var(--font-cuerpo);
}

h1, h2, h3 {
  font-family: var(--font-titulos);
}
